.main {
  position: absolute;
  top: 0;
  left: 50%;
  width: 70%;
  transform: translate(-50%,0%);
}

.ressource-viewer {
  display: block;
  width: 520px;
  height: 350px;
}

.center {
  display: block;
  margin: 0 auto;
}

.hidden {
  all:unset !important;
  height: 0 !important;
  display: none !important;
  border: unset !important;
}

